@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1440px;
  margin: auto;


}

input {
  padding: 2px 10px;
}

input:disabled {
 background-color: white;
 opacity: 40%;
}